@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;
@use "../../styles/mixins" as m;

.perfilSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;  
}

.card {
  display: flex;
  background: white;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  
  max-width: 900px;
  gap: 40px;
}

.status {
    color: green;
}

.bio {
    margin-top: 10px;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;  
  border: 4px solid c.$color-blue-light;
  object-fit: cover;
}

.detalhes {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    gap: 5px;
    font-size: 12px;
}

.icon {
    width: 15px;
    height: 15px;
}

.tagsGroup {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    gap: 10px;
    font-size: 8px;
}

.tag {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #D4E7D6;
    color: green;
}