@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;
@use "../../styles/mixins" as m;

.heroSection {
  display: flex;
  flex: 1;
}

.heroContent {
  flex: 1;
  padding: 40px;
}

.heroTitle {
  @include m.estilizacaoFontsTituloPrincipal();
  color: c.$color-blue;
  margin-top: 25px;
  font-size: 110px
}

.heroText {
  @include m.estilizacaoFontsTexto();
  font-size: 30px;
}

.heroBtn {
  background-color: c.$color-red;
  color: c.$color-white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  @include m.estilizacaoFontsBotao();
}

.heroImage {
  flex: 0.6;
  overflow: hidden;
  max-height: calc(100vh - 140px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; 
  }
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.statItem {
  h3 {
    @include m.estilizacaoFontsCards();
    color: c.$color-blue;
  }
  p {
    @include m.estilizacaoFontsParagrafo();
  }
}