@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;
@use "../../styles/mixins" as m;

.header {
  // border: solid 2px red;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: c.$color-blue;
  padding: 0 85px;
  position: relative;
  .imgLogo {
    max-width: 80px;
    height: auto;
  }
  .nav {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link {
      color: c.$color-white;
      font-size: 18px;
      font-family: f.$font-source;
      padding: 5px 20px;
    }
  }
  .imgUser {
    width: 50px;
    border-radius: 50%;
    border: 3px solid c.$color-blue-light;
    cursor: pointer;
  }
}

.navUser {
  position: absolute;
  right: 30px;
  top: 80px;
  background-color: c.$color-blue;
  a {
    display: block;
    padding: 5px 10px;
    color: c.$color-white;
    text-align: center;
  }
}

.closedNav {
  display: none;
}

@media (max-width: 768px) {
  .header {
    .nav {
      display: none;
    }
  }
  .imgLogo {
    max-width: 57px;
  }
}