@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;
@use "../../styles/mixins" as m;

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.title {
    text-align: center;
    @include m.estilizacaoFontsTituloAuxiliar();
    color: c.$color-blue;
    margin-bottom: 40px;
}

.CTAgroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.CTA {
    text-align: center;
    max-width: 500px;
    padding: 0 30px;
    border-right: 1px solid #c0c0c0;

    display: flex;
    flex-direction: column;

    &:last-child {
        border-right: none;
    }

    img {
        border-radius: 8px;
        max-width: 300px;
    }
}

.CTAtitle {
    @include m.estilizacaoFontsCards();
    color: c.$color-blue;
    margin: 15px 0px;
}

.CTAtext {
    @include m.estilizacaoFontsParagrafo();
    margin-bottom: 20px;
}

.CTAbtn {
    background-color: c.$color-blue;
    color: c.$color-white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    @include m.estilizacaoFontsBotao();
    margin-top: auto;
}

.modal {
    position: fixed;
    top: 110px;
    right: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.checkIcon {
  width: 32px;
  height: 32px;
  border: 3px solid #4CAF50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
}


.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #ccc;
  width: 100%;
  animation: diminuir 10s linear forwards;
}

@keyframes diminuir { //ANIMAÇÃO BABY
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}